/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header-wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header-wrapper,
.header__details-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

.header-wrapper {
  text-align: center;
  }

}

.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-row__input,
.input__label,
.item__input,
.checkbox__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__task-row {
  display: flex;
  margin-bottom: 20px;
}

.todo-item__incomplete-list,
.completed-item__completed-list {
  margin: 0;
  padding: 0;
}

.incomplete-list__item,
.completed-list__item {
  list-style: none;
}

.item__checkbox,
.item__input,
.item__button {
  outline: none;
}

.item__button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.item__button:hover {
  color: #3a3a3a;
}

/* Heading */
.add-item__header,
.todo-item__header,
.completed-item__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-item__header {
  margin-bottom: 20px;
}

.task-row__input,
.item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-row__input:focus,
.item__input:focus {
  color: #333;
}

.task-row__input {
  width: 318px;
}

/* Task list */
.incomplete-list__item,
.completed-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

.item__checkbox {
  margin: 0 10px;
}

.checkbox__label,
.input__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-row__input,
.item__input {
  width: 226px;
}

.button__remove-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__remove-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-item__completed-list .input__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item__input {
  display: none;
}

.incomplete-list__item_edit .item__input {
  display: inline-block;
  width: 224px
}

.incomplete-list__item_edit label {
  display: none;
}